{% extends 'base.html' %}
{% block content %}
<div class="uk-width-7-10">
    <!-- start article list  -->
    {% for post in posts %}
    <ul class="uk-list uk-list-striped">
        <li>
            <a href="{{ url_for('home.article', article_id=post.id) }}">{{ post.title }}</a>
            <!-- <i class="uk-icon-tags"></i>Tags:{{ post.category }}&nbsp;&nbsp;&nbsp;&nbsp; -->
            {% if session['username'] %}
            <i class="uk-icon-user"></i> {{ session['username'] }}&nbsp;&nbsp;&nbsp;&nbsp;
            {% else %}
            <i class="uk-icon-user"></i> Awesome Boer&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
        </li>
    </ul>
<!--     <article class="uk-article">
        <h1 class="uk-article-title">{{ post.title }}</h1>
        <p class="uk-article-lead" ><i class="uk-icon-spinner uk-icon-spin"></i>{{ post.body[:256] }}</p>
        <p><a href="{{ url_for('home.article', article_id=post.id) }}">继续阅读<i class="uk-icon-angle-double-right"></i></a></p>
        <h6>
            <i class="uk-icon-tags"></i>Tags:{{ post.category }}&nbsp;&nbsp;&nbsp;&nbsp;
            {% if session['username'] %}
            <i class="uk-icon-user"></i> {{ session['username'] }}&nbsp;&nbsp;&nbsp;&nbsp;
            {% else %}
            <i class="uk-icon-user"></i> Awesome Boer&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
        </h6>
        <hr class="uk-article-divider">
    </article> -->
    {% endfor %}
    <!-- end article list  -->
</div>

<div class="uk-width-3-10">
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-panel-title">Contact Details</h3>
        <p>
            <strong>Company Name</strong>
            <br>China, Chongqing
            <br>CMCC IOT
        </p>
        <p>
            <a>boer0924@sina.com</a>
            <br><a>@Telephone</a><br>
            13527335199
        </p>
        <h3 class="uk-h4">Follow Me</h3>
        <p>
            <a href="http://weibo.com/boerutopia" class="uk-icon-button uk-icon-weibo"></a>
            <a href="#" class="uk-icon-button uk-icon-github"></a>
            <a href="#" class="uk-icon-button uk-icon-twitter"></a>
            <a href="#" class="uk-icon-button uk-icon-dribbble"></a>
            <a href="#" class="uk-icon-button uk-icon-html5"></a>
        </p>
    </div>
</div>
{% endblock %}
