{% extends 'base.html' %}
{% block content %}
<div class="uk-width-7-10">
    <!-- start article list  -->
    <ul class="uk-list uk-list-striped">
        {% for post in posts.items %}
        <li>
            <a style="margin-left: 10px;" href="{{ url_for('home.article', article_id=post.id) }}">{{ post.title }}</a>
            <span style="float: right; margin-right: 20px;">{{ post.pub_date.strftime('%Y-%m-%d') }}</span>
        </li>
        {% endfor %}
    </ul>
    <!-- end article list  -->
    <!-- start paginate -->
    <ul class="uk-pagination">
        {% if posts.has_prev %}
        <li class="uk-disabled"><a href="{{ url_for('home.index', page=posts.prev_num) }}"><span><i class="uk-icon-angle-double-left"></i></span></a></li>
        {% endif %}

        {% if posts.pages > 1 %}
            {% for p in posts.iter_pages() %}
                {% if p == posts.page %}
                    <li class="uk-active"><span><a href="{{ url_for('home.index', page=p) }}">{{ p }}</a></span></li>
                {% elif not p %}
                    <li><span>...</span></li>
                {% else %}
                    <li class="uk-disabled"><span><a href="{{ url_for('home.index', page=p) }}">{{ p }}</a></span></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if posts.has_next %}
        <li class="uk-disabled"><a href="{{ url_for('home.index', page=posts.next_num) }}"><span><i class="uk-icon-angle-double-right"></i></span></a></li>
        {% endif %}
    </ul>
    <!-- end paginate -->
</div>

<div class="uk-width-3-10">
    <div class="uk-panel">
        <wb:follow-button uid="2770931324" type="red_4" width="100%" height="64" ></wb:follow-button>
    </div>
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-panel-title">最新文章</h3>
        <ul class="uk-list uk-list-line">
            {% for post in hot_posts %}
            <li><i class="uk-icon-file-word-o"></i> <a href="{{ url_for('home.article', article_id=post.id) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-h4">Follow Me</h3>
        <p>
            <a href="http://weibo.com/boerutopia" class="uk-icon-button uk-icon-weibo"></a>
            <a href="https://github.com/boer0924" class="uk-icon-button uk-icon-github"></a>
            <a href="https://twitter.com/boerutopia" class="uk-icon-button uk-icon-twitter"></a>
            <a href="http://user.qzone.qq.com/244857967" class="uk-icon-button uk-icon-qq"></a>
        </p>
    </div>
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-panel-title">友情链接</h3>
        <ul class="uk-list uk-list-space">
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">编程</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">读书</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Python教程</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Git教程</a></li>
        </ul>
    </div>
</div>
{% endblock %}
