{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 180px; margin-bottom: 185px;" class="uk-width-medium-1-2 uk-container-center">
    <form action="" method="post" name="login" class="uk-form">
        {{ form.hidden_tag() }}
        <fieldset data-uk-margin>
            <legend>Sign In</legend>
            {{ form.username }}
            {% for error in form.errors.username %}
            <script type="text/javascript">
                UIkit.notify({
                    message : '{{ error }}',
                    status  : 'danger',
                    timeout : 5000,
                    pos     : 'top-center'
                });
            </script>
            {% endfor %}
            {{ form.password }}
            {% for error in form.errors.password %}
            <script type="text/javascript">
                UIkit.notify({
                    message : '{{ error }}',
                    status  : 'danger',
                    timeout : 5000,
                    pos     : 'top-center'
                });
            </script>
            {% endfor %}
            <input type="submit" value="Sign In" class="uk-button">
            {{ form.remember_me }}<i>记住我</i>
        </fieldset>
    </form>
</div>
{% endblock %}